*{
  padding: 0;
  margin: 0;
}

body {
    background: #ffd39b;
  }
  
  .banner {
    width: 100%;
    height: 800px;
  }

  h1 {
      text-align: center;
  }
  
  .titulos {
    text-align: center;
    font-size: 25px;
  }
  
  p {
    text-align: center;
  }
  
  #p_home {
    font-size: 25px;
  }
  
 .itens {
    font-weight: bold;
    font-size: 20px;
  }

 .about_prod {
     background: #ffd39b;
     padding: 40px;
 }

 .about_JGR {
    background: #ffd39b;
    padding: 40px;
 }

 .topo {
    background: white;
    padding: 30px;
    text-shadow: sandybrown;
 }
 