* {
	padding: 0;
	margin: 0;
}

header {
	background: #ffdfb8;
}

header img {
	width: 30%;
}

.box {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 130px;
	right: -200px;
}

nav li {
	display: inline;
	margin: 0 0 0 17px;
}

nav a {
	color: #964b00;
	text-shadow: sandybrown 0.1em 0.1em 0.2em;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	color: darkorange;
	text-decoration: underline;
} 

nav a:active {
	color: #DF423C;

} 

.banner {
	width: 100%;
	height: 700px;
}

#main {
	background: #ffd39b;
}

.roupas {
	width: 50%;
	margin: 0 auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#p_fonte {
	font-size: 100%;
}

.roupas li {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 30px 0;
	box-sizing: border-box;
	list-style: none;
	flex: 0 0 44.444444%;
	border: 5px solid #964b00;
	border-radius: 50px;
	margin-bottom: 20px;
	margin-right: 50px;
}

.roupas li:hover {
	border-color: darkorange;
}

.roupas li:active {
	border-color: #DF423C;
	
}

.roupas li:hover h2 {
	color: darkorange;
	font-size: 32px;
}

.roupas li:hover p {
	color: darkorange;
}

.roupas p {
	text-decoration: none;
}

.roupas li img {
	width: 50%;
	margin: 20px 0;
}


#p_home {
	font-size: 22px;
}

.titulos {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	font-family: 'Times New Roman', Times, serif;
}

.about_JGR p {
	margin: 0 0 1em;
	color: #964b00;
	font-weight: bold; 
}

.about_JGR {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
	text-align: center;
}

.beneficios li {
	font-size: 22px;
	padding: 0 0 0 20px;
	margin-bottom: 30px;
	color: #964b00;
	font-weight: bold;
}

.itens {
	padding: 3em 0;
	background: #ffd39b;
}

.mp3_play {
	position: absolute;
	width: 13%;
	top: 10px;
	right: 1610px;

}

.logos_cont h2 {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
	text-align: center;
	color: #964b00;
}

footer img {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
}

footer {
	background: #ffdfb8;
}
